<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    


    <title>XX市场账目统计</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/tablesorter/blue/style.css" rel="stylesheet"/>
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .form-control{
            display: inline;
            width: 95%;
        }
        .total_label{
            margin-right: 100px;
        }
        .red_tr td{
            color: red;
        }
        .blue_tr td{
            color: blue;
        }
        #for_print{
            cursor: pointer;
        }
    </style>


    <script src="/static/js/jquery-1.9.0.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.tablesorter.js"></script>
    <script>
        $(function(){
            //表格显示
            $(".tablesorter").tablesorter({
                widgets: ['zebra']
            })

            $("#for_print").click(function(){
                $(".operating").toggle()
                $(".btn-xs").toggle()
            })
        })
    </script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#add_form">XX市场账目统计</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form"  style="display:none">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="display:none">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">

        <table class="tablesorter">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>毛重</th>
                    <th>皮重</th>
                    <th>净重</th>
                    <th>金额</th>
                    <th>日期</th>
                    <th>状态</th>
                    <th class="operating">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rs %}
                    <tr data-id="{{ r.id }}" class="{% if r.status == '未支付' %}red_tr{% else %}blue_tr{% endif %}">
                        <td>{{ r.name }}</td>
                        <td>{{ r.mao }}</td>
                        <td>{{ r.pi }}</td>
                        <td>{{ r.jing }}</td>
                        <td>{{ r.money }}</td>
                        <td>{{ r.showtime }}</td>
                        <td>{{ r.status }}</td>
                        <td>
                            <a href="/pay/?id={{ r.id }}" class="btn btn-xs btn-primary">支付</a>
                            <a href="/unpaid/?id={{ r.id }}" class="btn btn-xs btn-danger">未付</a>

                            <a href="/del_account/?id={{ r.id }}" onclick="return confirm('确定要删除？')" class="btn btn-xs btn-warning">删除</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <label class="total_label">
            总毛重：{{ total_mao }}
        </label>
        <label class="total_label">
            总皮重：{{ total_pi }}
        </label>
        <label class="total_label">
            总净重：{{ total_jing }}
        </label>
        <label class="total_label">
            总金额：{{ total_money }}
        </label>


        <div class="operating">

            <hr>

            <label onclick="$('#filter_form').toggle()" style="cursor: pointer">筛选账目 </label>
            <form action="/" id="filter_form">
                <div class="form-group">
                    姓名:
                    <input type="text" class="form-control" placeholder="姓名" name="filter_name" value="{{ filter_name }}"/>
                </div>
                <div class="form-group">
                    日期:
                    <input type="text" class="form-control" placeholder="2014-01-01 {{ nowtime }}" name="filter_time" value="{{ filter_time }}"/>
                </div>
                <input type="submit" class="btn btn-primary" value="筛选" />
            </form>

            <hr>

            <label onclick="$('#add_form').toggle()" style="cursor: pointer">添加新账目</label>
                <a class="btn btn-success btn-xs" onclick="$('#namelist').toggle()">选择输入过的姓名</a>
            <form action="/add_account/" id="add_form">
                <div id="namelist" style="display:none; margin-top:20px; margin-bottom:20px;">
                    {% for name in namelist %}
                        <a class="btn btn-xs btn-primary    " onclick="$('#name').val('{{ name }}')">{{ name }}</a>
                    {% endfor %}
                </div>
                <div class="form-group">
                    姓名:
                    <input type="text" class="form-control" placeholder="姓名" name="name" id="name"/>
                </div>
                <div class="form-group">
                    毛重:
                    <input type="text" class="form-control" placeholder="毛重" name="mao" />
                </div>
                <div class="form-group">
                    皮重:
                    <input type="text" class="form-control" placeholder="皮重" name="pi" />
                </div>
                <div class="form-group">
                    净重:
                    <input type="text" class="form-control" placeholder="净重" name="jing" />
                </div>
                <div class="form-group">
                    金额:
                    <input type="text" class="form-control" placeholder="金额" name="money" />
                </div>
                <div class="form-group">
                    日期:
                    <input type="text" class="form-control" placeholder="{{ nowtime }}" name="time" />
                </div>
                <input type="submit" class="btn btn-primary" value="添加" />
            </form>


        </div>


        <hr>


      <footer>
        <p id="for_print">&copy; Accounting 2014</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
